/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1f1f1f; /* Dark background color */
    color: #fff; /* Text color */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    position: relative; /* Relative positioning for background image */
}

/* Header styling */
h1 {
    margin-bottom: 20px;
    padding: 20px;
    font-size: 3em; /* Larger font size */
    background: linear-gradient(135deg, #4c84ff 0%, #b34cff 50%, #4c84ff 100%); /* Gradient background */
    -webkit-background-clip: text; /* Clip text to background */
    -webkit-text-fill-color: transparent; /* Hide text fill color */
}

/* Form container styling */
form {
    margin: auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.9); /* Darker semi-transparent form background */
}

/* Legend styling */
legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
}

/* Radio button and label styling */
input[type="radio"] {
    margin-right: 10px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Text input field styling */
input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    color: #333; /* Text color for input fields */
}

/* Submit button styling */
input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff; /* Blue button color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

/* Submit button hover effect */
input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Interactive background effect */
.background-image {
    position: fixed;
    top: -50%; /* Move top position up to extend background */
    left: -50%; /* Move left position left to extend background */
    width: 200%; /* Extend width to cover more than viewport */
    height: 200%; /* Extend height to cover more than viewport */
    background-image: url('inter.jpg'); /* Replace with your image path */
    background-size: cover;
    z-index: -1;
    transition: transform 0.5s ease; /* Smooth transition for transform */
}

/* JavaScript will add interactive mouse movement effect */
